{% extends 'base.html'%} {% block content %} {% load static %}
<!DOCTYPE html>
<html lang="en">

<head>

</head>

<body class="body ">
    <div class="d_flex space_even">
        <section3>
            <div class="category_list">
                <ul class="d_colum ">
                    
                    {%for cat in categorys %}
                    <a href="{% url 'category_detail' cat.pk %}" class="catbg">
                        <li>
                            <h5>100+</h5>
                            <span>{{cat}}</span>
                            
                        </li>
                    </a>
                    {%endfor%}
                </ul>
            </div>
        </section3>
    
        <div class="  d_colum space_between ">
            {% if poems %}
            {% for poem in poems %}
            <div class="poem" style="display: flex; width: 800px; margin: 20px 50px;">
                <div class="image" style="width: 526px;">
                    <img src="{{poem.cover_image.url}}" alt="Poem image">
                </div>
                <div class="poem_content">
                    <div class="content">
                        <h6>{{poem}}</h6>
                        <span style="color: rgb(109, 109, 254); font-weight: bold; border-bottom: 2px solid red;">{{poem.category}}</span>
                        <br>
                        <small>summary</small>
                        <p>{{poem.post_overview}}</p>
    
                        <h6 class=""> <span>Author:</span> {{poem.author_name}}</h6>
    
                    </div>
                    <div class="poem_btns d_flex space_between">
                        <a href="" class="btn btn-sm btn-outline-success">Add to Library</a>
                        <a href="{% url 'poem_details' poem.poem_slug %}" class="btn btn-sm btn-outline-info">Read</a>
    
                    </div>
                </div>
    
            </div>
            
            {% endfor %}
            {% else %}
            <div class="poem pt-5" style=" text-align:center ;  width: 800px; margin: 20px 50px; height: 150px;">        
                <h6>No poem in this category</h6>
                 <a href="{%url 'post_poem'%}" class="btn btn-sm btn-outline-success">Add Poem</a>   
            </div>
            {%endif%}
            <!-- story -->
            {% for story in storys %}
            <div class="poem" style="display: flex; width: 800px; margin: 20px 50px;">
                <div class="image" style="width: 526px;">
                    <img src="{{story.story_cover_photo.url}}" alt="Poem image">
                </div>
                <div class="poem_content">
                    <div class="content">
                        <h6>{{story.story_title}}</h6>
                        <span style="color: rgb(109, 109, 254); font-weight: bold; border-bottom: 2px solid red;">{{poem.category}}</span>
                        <br>
                        <small>summary</small>
                        <p>{{story.story_summary}}</p>
    
                        <h6 class=""> <span>Author:</span> {{story.poem.author_name}}</h6>
    
                    </div>
                    <div class="poem_btns d_flex space_between">
                        <a href="" class="btn btn-sm btn-outline-success">Add to Library</a>
                        <a href="{% url 'story_details' story.story_slug %}" class="btn btn-sm btn-outline-info">Read</a>
    
                    </div>
                </div>
    
            </div>
            {% endfor %}
    
        </div>
    </div>
</body>
<script>
  window.addEventListener('load', function() {
    applyRandomColor();
    });

</script>
</html>
{% endblock %}