{% extends 'base.html'%} {% block content %} {% load static %}

<section>



    <div class="dashboard">
        <div class="d_flex space_between">
            <div class="sidebar">
                <ul>
                    <a class="{% if 'accounts/dashboard' in request.path%} active {% endif %}" href="{%url 'dashboard'%}">
                        <li>Dashboard</li>
                    </a>

                    <a class="{% if '/posts/add_posts/' in request.path%} active {% endif %}" href="{%url 'add_posts'%}">
                        <li>Add Posts</li>
                    </a>
                    <a href="{% url 'profile_settings' %}">
                        <li>Profile Settings</li>
                    </a>
                    <a href="{% url 'logout' %}">
                        <li>Logout</li>
                    </a>
                </ul>
            </div>
            <div class="dashboard_content ">
                {% comment %} cover section starts {% endcomment %}
                <div class="cover_photo b_radius " style=" padding: 20px; background: url({% if user_profile.cover_photo %}{{user_profile.cover_photo.url}} {% else %} {% static 'img/bg1.jpg' %} {% endif %}) no-repeat center / cover;">
                    <div class="cover b_radius d_flex  ">
                        {%if user_profile.profile_picture%}
                        <img src="{{user_profile.profile_picture.url}}" width="100" alt=""> {%else%}
                        <img src="{% static 'img/persion.jpg' %}" width="100" alt=""> {%endif%}
                        <div class="profile_details ml-5">
                            <h5>{{user.first_name}} {{user.last_name}} <span style="color: gray; font-size: 15px;">@{{user.username}}</span></h5>

                            <small><i class="bi bi-envelope-at"></i>&nbsp;{{user}}</small>
                        </div>
                    </div>
                </div>
                {% comment %} cover section ends {% endcomment %}
                <div class="d_block dashboard_heading tex_center">
                    <h3>Post Poem. <small>be your own poet</small></h3>

                </div>
                <div class="all_posts ">
                    <div class="d_flex ">
                        <div class="title ml-5">

                            <form action="{% url 'post_poem' %}" method="POST" enctype="multipart/form-data">
                                {%csrf_token%}
                                <div class="post_poem m-3">
                                    <div class="form_image">
                                        {{form.cover_image}}

                                    </div>
                                    <div class=" space_between ">
                                        <div>
                                            <div class="mt-3 d_colum poem_category">
                                                <label>Category*</label> {{form.category}}
                                            </div>
                                            <div class="mt-3 d_colum">
                                                <label>Poem Title*</label> {{form.post_title}}
                                            </div>
                                        </div>
                                        <div>
                                            <div class="mt-3 d_colum">
                                                <label>Poem Title*</label> {{form.poem_content}}
                                            </div>
                                            <div class="mt-3 d_colum">
                                                <label>Poem Summery*</label> {{form.post_overview}}
                                            </div>
                                            <div class="mt-3 d_colum">
                                            </div>
                                            <label>Poem Author Name*</label> {{form.author_name}}
                                        </div>
                                        <hr>
                                        <button style="width: 100px;" type="submit" class="btn btn-sm btn-success mt-3">Post</button>
                                    </div>
                                </div>
                            </form>
                        </div>

                    </div>


                </div>
            </div>
        </div>
    </div>
</section>


{% endblock %}