{% extends 'base.html'%} {% block content %} {% load static %}

<section>



    <div class="dashboard">
        <div class="d_flex space_between">
            <div class="sidebar">
                <ul>
                    <a class="{% if 'accounts/dashboard' in request.path%} active {% endif %}" href="{%url 'dashboard'%}">
                        <li>Dashboard</li>
                    </a>
                    <a href="">
                        <li>Add Posts</li>
                    </a>
                    <a href="{% url 'profile_settings' %}">
                        <li>Profile Settings</li>
                    </a>
                    <a href="{% url 'logout' %}">
                        <li>Logout</li>
                    </a>
                </ul>
            </div>
            <div class="dashboard_content ">
                <div class="cover_photo b_radius " style=" padding: 20px; background: url({% if user_profile.cover_photo %}{{user_profile.cover_photo.url}} {% else %} {% static 'img/bg1.jpg' %} {% endif %}) no-repeat center / cover;">
                    <div class="cover b_radius d_flex  ">
                        {%if user_profile.profile_picture%}
                        <img src="{{user_profile.profile_picture.url}}" width="100" alt=""> {%else%}
                        <img src="{% static 'img/persion.jpg' %}" width="100" alt=""> {%endif%}
                        <div class="profile_details ml-5">
                            <h5>{{user.first_name}} {{user.last_name}} <span style="color: gray; font-size: 15px;">@{{user.username}}</span></h5>

                            <small><i class="bi bi-envelope-at"></i>&nbsp;{{user}}</small>
                        </div>
                    </div>

                </div>
                <div class="d_block dashboard_heading tex_center">
                    <h3>Dashboard</h3>


                </div>
                <div class="all_posts  d_flex space_even ">

                    <div class="all_post">
                        <div class="post_img">
                            <img src="{% static 'img/cover1.webp'%}" width="150" alt="">
                        </div>
                        <div class="post_likes d_flex space_even">
                            <i class="bi bi-heart">500</i>
                            <i class="bi bi-share"></i>

                        </div>
                    </div>
                    <div class="all_post">
                        <div class="post_img">
                            <img src="{% static 'img/cover2.webp'%}" width="150" alt="">
                        </div>
                        <div class="post_likes d_flex space_even">
                            <i class="bi bi-heart">500</i>
                            <i class="bi bi-share"></i>

                        </div>
                    </div>
                    <div class="all_post">
                        <div class="post_img">
                            <img src="{% static 'img/cover3.webp'%}" width="150" alt="">
                        </div>
                        <div class="post_likes d_flex space_even">
                            <i class="bi bi-heart">500</i>
                            <i class="bi bi-share"></i>

                        </div>
                    </div>
                    <div class="all_post">
                        <div class="post_img">
                            <img src="{% static 'img/cover4.webp'%}" width="150" alt="">
                        </div>
                        <div class="post_likes d_flex space_even">
                            <i class="bi bi-heart">500</i>
                            <i class="bi bi-share"></i>

                        </div>
                    </div>
                    <div class="all_post">
                        <div class="post_img">
                            <img src="{% static 'img/cover4.webp'%}" width="150" alt="">
                        </div>
                        <div class="post_likes d_flex space_even">
                            <i class="bi bi-heart">500</i>
                            <i class="bi bi-share"></i>

                        </div>
                    </div>
                    <div class="all_post">
                        <div class="post_img">
                            <img src="{% static 'img/cover4.webp'%}" width="150" alt="">
                        </div>
                        <div class="post_likes d_flex space_even">
                            <i class="bi bi-heart">500</i>
                            <i class="bi bi-share"></i>

                        </div>
                    </div>
                    <div class="all_post">
                        <div class="post_img">
                            <img src="{% static 'img/cover4.webp'%}" width="150" alt="">
                        </div>
                        <div class="post_likes d_flex space_even">
                            <i class="bi bi-heart">500</i>
                            <i class="bi bi-share"></i>

                        </div>
                    </div>
                    <div class="all_post">
                        <div class="post_img">
                            <img src="{% static 'img/cover2.webp'%}" width="150" alt="">
                        </div>
                        <div class="post_likes d_flex space_even">
                            <i class="bi bi-heart">500</i>
                            <i class="bi bi-share"></i>

                        </div>
                    </div>
                    <div class="all_post">
                        <div class="post_img">
                            <img src="{% static 'img/cover5.webp'%}" width="150" alt="">
                        </div>
                        <div class="post_likes d_flex space_even">
                            <i class="bi bi-heart">500</i>
                            <i class="bi bi-share"></i>

                        </div>
                    </div>
                    <div class="all_post">
                        <div class="post_img">
                            <img src="{% static 'img/cover6.webp'%}" width="150" alt="">
                        </div>
                        <div class="post_likes d_flex space_even">
                            <i class="bi bi-heart">500</i>
                            <i class="bi bi-share"></i>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


{% endblock %}