{% extends 'base.html'%} {% block content %} {% load static %}

<section>



    <div class="dashboard">
        <div class="d_flex space_between">
            <div class="sidebar">
                <ul>
                    <a class="" href="{%url 'dashboard'%}">
                        <li>Dashboard</li>
                    </a>
                    <a href="">
                        <li>Add Posts</li>
                    </a>
                    <a class="{% if 'profile_settings' in request.path%} active {%endif%}" href="{% url 'profile_settings' %}">
                        <li>Profile Settings</li>
                    </a>
                    <a href="{% url 'logout' %}">
                        <li>Logout</li>
                    </a>
                </ul>
            </div>
            <div class="dashboard_content ">
                <div class="cover_photo b_radius " style=" padding: 20px; background: url({% if user_profile.cover_photo %}{{user_profile.cover_photo.url}} {% else %} {% static 'img/bg1.jpg' %} {% endif %}) no-repeat center / cover;">
                    <div class="cover b_radius d_flex  ">
                        {% if user_profile.profile_picture %}
                        <img src="{{profile.profile_picture.url}}" width="100" alt=""> {%else%}
                        <img src="{% static 'img/persion.jpg' %}" width="100" alt=""> {%endif%}
                        <div class="profile_details ml-5">
                            <h5>{{user.first_name}} {{user.last_name}} <span style="color: gray; font-size: 15px;">@{{user.username}}</span></h5>
                            <small><i class="bi bi-envelope-at"></i>&nbsp;{{user}}</small>
                        </div>
                    </div>

                </div>
                <div class="d_block dashboard_heading tex_center">
                    <h3>Profile Settings</h3>
                </div>

                <div class="all_posts profile_update justfy_center  ">
                    <form action="{% url 'profile_settings' %}" method="post" enctype="multipart/form-data">

                        {%csrf_token%}

                        <div class="profile_photos space_between mb-3 d_flex">
                            <div class="d_colum">
                                <label>Profile Photo*</label> {{profile_form.profile_picture}}
                            </div>
                            <div class="d_colum">
                                <label>Cover Photo*</label> {{profile_form.cover_photo}}
                            </div>
                        </div>
                        <div class="d_flex space_between mb-3">
                            <div class="d_colum">
                                <label>First Name*</label> {{user_form.first_name}}
                            </div>
                            <div class="d_colum">
                                <label>Last Name*</label>{{user_form.last_name}}
                            </div>
                        </div>
                        <div class="d_colum">
                            <label>Phone Number*</label>{{user_form.phone_number}}
                        </div>
                        <div class="d_flex space_between mb-3">
                            <div class="d_colum">
                                <label>Country*</label> {{profile_form.country}}
                            </div>
                            <div class="d_colum">
                                <label>State*</label>{{profile_form.state}}
                            </div>

                        </div>
                        <div class="d_flex space_between mb-3">
                            <div class="d_colum">
                                <label>City*</label>{{profile_form.city}}
                            </div>
                            <div class="d_colum">
                                <label>Pin Code*</label>{{profile_form.pin_code}}
                            </div>
                        </div>

                        <button type="submit" class="btn btn-sm btn-outline-secondary">Update</button>

                    </form>

                </div>
            </div>
        </div>
    </div>
</section>


{% endblock %}