{% extends 'base.html'%} {% block content %} {% load static %}

<section>
    <div class="register pt-5 pb-5">
        <h3 class="tex_center text_orange mb-5">Register for Tales</h3>

        <form action="" method="post">
            {%csrf_token%}
            <div class="d_flex">
                <div class="d_colum">
                    <label for="">First Name</label> {{form.first_name}}
                </div>
                <div class="d_colum">
                    <label for="">Last Name</label> {{form.last_name}}
                </div>
            </div>
            <div class="d_flex">
                <div class="d_colum">
                    <label for="">User Name</label> {{form.username}}
                </div>
                <div class="d_colum">
                    <label for="">Email</label> {{form.email}}
                </div>
            </div>
            <div class="d_flex">
                <div class="d_colum">
                    <label for="">Password</label> {{form.password}}
                </div>
                <div class="d_colum">
                    <label for="">Conform Password</label> {{form.conform_password}}
                </div>
            </div>
            <div class="pl-5">
                <button type="submit" class="btn btn-sm btn-outline-warning ml-5  mt-3">submit</button>
            </div>

        </form>


    </div>
</section>


{% endblock %}