{% extends 'base.html'%} {% block content %} {% load static %}

<section>
    <div id="login" class="register pt-5 pb-5">
        <h3 class="tex_center text_orange mb-5 ">Reset Password</h3>
        <form action="{% url 'reset_password' %}" method="POST">
            {%csrf_token%}
            <div class="d_colum">
                <div class="d_colum">
                    <label for="password">Password</label>
                    <input type="password" name='password' placeholder="Email">
                </div>
                <div class="d_colum mt-3">
                    <label for="conform_password">Conform Password</label>
                    <input type="password" name="conform_password" id="" placeholder="Password">
                </div>
                <div class=" d_flex space_between " style="width: 296px;">

                    <button type="submit" class="login btn btn-sm btn-outline-warning  mt-3">Reset Password</button>


                   
                </div>
            </div>
        </form>

    </div>
</section>


{% endblock %}