{% load static %}
<footer>
    <div class="d_flex space_even">
        <div class="w-25 footer_details">
            <h3>OUR STORY</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas possimus rerum, nostrum minima consequuntur quibusdam temporibus exercitationem reiciendis iure numquam.</p>
            <div class="d_flex space_between">
                <a href="#"><i class="bi bi-facebook"></i></a>
                <a href="#"><i class="bi bi-whatsapp"></i></i></a>
                <a href="#"><i class="bi bi-instagram"></i></a>
                <a href="#"><i class="bi bi-twitter"></i></a>
                <a href="#"><i class="bi bi-linkedin"></i></a>
            </div>
        </div>

        <div class="d_flex w-50 space_even">
            <div class="footer_link">
                <h4>home</h4>
                <ul>
                    <a href="">
                        <li>lorem</li>
                    </a>
                    <a href="">
                        <li>lorem</li>
                    </a>
                    <a href="">
                        <li>lorem</li>
                    </a>
                    <a href="">
                        <li>lorem</li>
                    </a>
                </ul>
            </div>
            <div class="footer_link">
                <h4>home</h4>
                <ul>
                    <a href="">
                        <li>lorem</li>
                    </a>
                    <a href="">
                        <li>lorem</li>
                    </a>
                    <a href="">
                        <li>lorem</li>
                    </a>
                    <a href="">
                        <li>lorem</li>
                    </a>
                </ul>
            </div>
            <div class="footer_link">
                <h4>home</h4>
                <ul>
                    <a href="">
                        <li>lorem</li>
                    </a>
                    <a href="">
                        <li>lorem</li>
                    </a>
                    <a href="">
                        <li>lorem</li>
                    </a>
                    <a href="">
                        <li>lorem</li>
                    </a>
                </ul>
            </div>
            <div class="footer_link">
                <h4>home</h4>
                <ul>
                    <a href="">
                        <li>lorem</li>
                    </a>
                    <a href="">
                        <li>lorem</li>
                    </a>
                    <a href="">
                        <li>lorem</li>
                    </a>
                    <a href="">
                        <li>lorem</li>
                    </a>
                </ul>
            </div>

        </div>
    </div>
    <hr>
    <div class="dev d_flex space_between">
        <h6>Copyright©2023 Virat Raj All right reserved</h6>
        <h6>Thank You</h6>
    </div>
</footer>