.all_poems {
    width: 80%;
    margin: auto;
}

.poem {
    width: 250px;
    border-radius: 8px;
    border: 1px solid silver;
    padding: 7px;
}

.poem:hover {
    box-shadow: 6px 6px 6px 6px silver;
}

.poem .poem_content {
    padding: 10px;
    color: rgb(112, 109, 109);
    background-color: rgba(207, 213, 213, 0.537);
    border-bottom-right-radius: 8px;
    height: 300px;
    overflow: hidden;
    border-bottom-left-radius: 8px;
}

.poem .poem_content .content {
    padding: 10px;
    color: rgb(112, 109, 109);
    background-color: rgba(207, 213, 213, 0.537);
    border-bottom-right-radius: 8px;
    height: 250px;
    overflow: hidden;
    border-bottom-left-radius: 8px;
}

.poem .poem_content .content h6 {
    color: orange;
    font-size: 15px;
}

.poem .image {
    overflow: hidden;
    border-radius: 8px;
    padding: 10px;
    width: 200px;
    height: 300px;
    margin: auto;
    border-bottom: 2px solid silver;
}

.poem .image img {
    width: 100%;
    height: 250px;
    border-radius: 8px;
}


/* poem details  */

.poem_details {
    width: 60%;
    border-radius: 8px;
    background-color: rgb(235, 237, 238);
    margin: auto;
    border: 2px solid silver;
}

.poem_details .poem_detail {
    padding: 20px;
    width: 700px;
    margin: auto;
}

.poem_details .poem_image {
    width: 400px;
    height: 400px;
    overflow: hidden;
    border-radius: 8px;
    box-shadow: 4px 3px 6px 2px rgb(211, 211, 211);
}

.poem_details .poem_image img {
    width: 100%;
    height: 100%;
}

.title h3 {
    color: orange;
}

.title h6 {
    color: rgb(133, 133, 236);
}

.full_poem span {
    color: green;
    font-size: 20px;
    font-weight: bold;
}

.comment_section {
    width: 60%;
    margin: auto;
}

.storyandpoems img {
    width: 50px;
    border-radius: 50%;
    height: 48px;
}

.storyandpoems {
    /* background-color: rgb(255, 219, 217); */
    padding: 5px;
    margin: 10px auto;
    border-radius: 8px;
    width: 700px;
}

.storyandpoems a {
    margin: 0px 10px;
}

.storyandpoems .story_edit {
    border-radius: 8px;
    width: 680px;
    align-items: center;
}

.storyandpoems:hover {
    background-color: rgb(207, 205, 205) !important;
    cursor: pointer;
}