{% extends 'base.html'%} {% block content %}

{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>

</head>

<body class="body">
    
    <hr>

    <section2>
        <div class="contan d_flex">
            <div class="most_liked">
                <img src="{% static 'img/persion.jpg' %}" alt="" width="398">
            </div>
            <div class="summary">
                <div class="title">
                    <h1>Most liked Books of this months</h1>
                </div>
                <div class="dis">
                    <p>Lorem ipsum dolor sit Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga sunt quia assumenda quis impedit! Odio, quis accusamus enim iusto itaque velit. Earum odit ratione quia, alias sapiente rerum amet sunt? amet consectetur
                        adipisicing elit. Repellat porro vitae praesentium. Nisi id dignissimos aut incidunt fugiat quis illo voluptatem, aliquam saepe rem assumenda.</p>
                    <div class="buttons ">
                        <a class="btn btn-lg btn_radius" href="" style="background-color: orange; color: white;">Read</a>
                        <a class="btn btn-lg btn-outline-info btn_radius" href="">Add to library</a>
                    </div>
                </div>

            </div>

        </div>
    </section2>

    <section3>
        <div class="category_list">
            <ul class="d_flex ">

                <a href="" style="background-color:rgba(228, 228, 154, 0.563) ;">
                    <li>
                        <!-- <i class="bi bi-emoji-smile"></i> -->
                        <h5>100+</h5>
                        <span>Happy Category</span>
                    </li>
                </a>

                <a href="" style="background-color:rgba(216, 209, 209, 0.455) ;">
                    <li>
                        <h5>100+</h5>
                        <span>Happy Category</span>
                    </li>
                </a>

                <a href="" style="background-color: rgba(194, 202, 231, 0.773) ;">
                    <li>
                        <h5>100+</h5>
                        <span>Happy Category</span> </li>
                </a>

                <a href="" style="background-color:rgb(217, 250, 245) ;">
                    <li>
                        <h5>100+</h5>
                        <span>Happy Category</span> </li>
                </a>

                <a href="" style="background-color: rgb(249, 187, 228);">
                    <li>
                        <h5>100+</h5>
                        <span>Happy Category</span>
                    </li>
                </a>
            </ul>
        </div>
    </section3>

    <section4>
        <div class="famous_books mt-5 mb-5 w-80">
            <div class="tex_center famous_book_title">
                <h2>Most Popular Books</h2>
                <h6 class="b_radius">Choose from hundreds of books from famous writers</h6>
            </div>
            <div class="d_flex">

                <div class="book b_radius ml-3 mb-3">
                    <div class="book_cover">
                        <img src="{% static 'img/cover1.webp' %}" style="width: 279px;
                        height: 350px;" alt="">
                    </div>
                    <div class="book_content">
                        <a href="#">
                            <span class="mb-1 b_radius">Category</span>
                        </a>
                        <h4>book title</h4>
                        <small>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis, facere!</small>
                        <hr>
                        <div class="d_flex space_between">
                            <a href="" class="btn btn-sm btn-success">add to library</a>
                            <a href="" class="btn btn-sm btn-outline-info ">Read</a>
                        </div>
                    </div>
                </div>
                <div class="book b_radius ml-3 mb-3">
                    <div class="book_cover">
                        <img src="{% static 'img/cover2.webp' %}" style="width: 279px;
                        height: 350px;" alt="">
                    </div>
                    <div class="book_content">
                        <a href="#">
                            <span class="mb-1 b_radius">Category</span>
                        </a>
                        <h4>book title</h4>
                        <small>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis, facere!</small>
                        <hr>
                        <div class="d_flex space_between">
                            <a href="" class="btn btn-sm btn-success">add to library</a>
                            <a href="" class="btn btn-sm btn-outline-info ">Read</a>
                        </div>
                    </div>
                </div>
                <div class="book b_radius ml-3 mb-3">
                    <div class="book_cover">
                        <img src="{% static 'img/cover3.webp' %}" style="width: 279px;
                        height: 350px;" alt="">
                    </div>
                    <div class="book_content">
                        <a href="#">
                            <span class="mb-1 b_radius">Category</span>
                        </a>
                        <h4>book title</h4>
                        <small>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis, facere!</small>
                        <hr>
                        <div class="d_flex space_between">
                            <a href="" class="btn btn-sm btn-success">add to library</a>
                            <a href="" class="btn btn-sm btn-outline-info ">Read</a>
                        </div>
                    </div>
                </div>
                <div class="book b_radius ml-3 mb-3">
                    <div class="book_cover">
                        <img src="{% static 'img/cover4.webp' %}" style="width: 279px;
                        height: 350px;" alt="">
                    </div>
                    <div class="book_content">
                        <a href="#">
                            <span class="mb-1 b_radius">Category</span>
                        </a>
                        <h4>book title</h4>
                        <small>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis, facere!</small>
                        <hr>
                        <div class="d_flex space_between">
                            <a href="" class="btn btn-sm btn-success">add to library</a>
                            <a href="" class="btn btn-sm btn-outline-info ">Read</a>
                        </div>
                    </div>
                </div>
                <div class="book b_radius ml-3 mb-3">
                    <div class="book_cover">
                        <img src="{% static 'img/cover5.webp' %}" style="width: 279px;
                        height: 350px;" alt="">
                    </div>
                    <div class="book_content">
                        <a href="#">
                            <span class="mb-1 b_radius">Category</span>
                        </a>
                        <h4>book title</h4>
                        <small>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis, facere!</small>
                        <hr>
                        <div class="d_flex space_between">
                            <a href="" class="btn btn-sm btn-success">add to library</a>
                            <a href="" class="btn btn-sm btn-outline-info ">Read</a>
                        </div>
                    </div>
                </div>
                <div class="book b_radius ml-3 mb-3">
                    <div class="book_cover">
                        <img src="{% static 'img/cover6.webp' %}" style="width: 279px;
                        height: 350px;" alt="">
                    </div>
                    <div class="book_content">
                        <a href="#">
                            <span class="mb-1 b_radius">Category</span>
                        </a>
                        <h4>book title</h4>
                        <small>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis, facere!</small>
                        <hr>
                        <div class="d_flex space_between">
                            <a href="" class="btn btn-sm btn-success">add to library</a>
                            <a href="" class="btn btn-sm btn-outline-info ">Read</a>
                        </div>
                    </div>
                </div>
                <div class="book b_radius ml-3 mb-3">
                    <div class="book_cover">
                        <img src="../img/cover7.webp" style="width: 279px;
                        height: 350px;" alt="">
                    </div>
                    <div class="book_content">
                        <a href="#">
                            <span class="mb-1 b_radius">Category</span>
                        </a>
                        <h4>book title</h4>
                        <small>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis, facere!</small>
                        <hr>
                        <div class="d_flex space_between">
                            <a href="" class="btn btn-sm btn-success">add to library</a>
                            <a href="" class="btn btn-sm btn-outline-info ">Read</a>
                        </div>
                    </div>
                </div>
                <div class="book b_radius ml-3 mb-3">
                    <div class="book_cover">
                        <img src="../img/cover8.webp" style="width: 279px;
                        height: 350px;" alt="">
                    </div>
                    <div class="book_content">
                        <a href="#">
                            <span class="mb-1 b_radius">Category</span>
                        </a>
                        <h4>book title</h4>
                        <small>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis, facere!</small>
                        <hr>
                        <div class="d_flex space_between">
                            <a href="" class="btn btn-sm btn-success">add to library</a>
                            <a href="" class="btn btn-sm btn-outline-info ">Read</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section4>

    <section>
        <div class="be_writer b_radius">
            <h5>Become a writer</h5>
            <div class="d_flex">
                <span>Speedily say has suitable disposal add boy. On forth doubt miles of child. Exercise joy man children rejoiced. Yet uncommonly his ten who diminution astonished</span>
                {% if user.is_athonticated %}
                <a href="{% url 'account' %}" class="btn btn-outline-warning">Start Writing today</a>
                
                {% else %}
                
                <a href="{%url 'registerUser' %}" class="btn btn-outline-warning">Start Writing today</a>
                {% endif %}
            </div>
        </div>
    </section>


    <section4>
        <div class="famous_books w-80">
            <swiper-container class="mySwiper" pagination="true" pagination-clickable="true" navigation="true" space-between="30" centered-slides="true" autoplay-delay="2500" autoplay-disable-on-interaction="false">
                <swiper-slide>
                    <div class=" slide_book d_flex b_radius  ml-3 mb-3 ">
                        <div class="book_cover">
                            <img src="../img/cover10.webp" style="width: 279px;
                            height: 350px;" alt="">
                        </div>
                        <div class="books_content">
                            <a href="#">
                                <span class="mb-1 b_radius">Category</span>
                            </a>
                            <h4>book title</h4>
                            <small>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis, facere!</small>
                            <hr>
                            <div class="d_flex space_between">
                                <a href="" class="btn btn-sm btn-success">add to library</a>
                                <a href="" class="btn btn-sm btn-outline-info ">Read</a>
                            </div>
                        </div>
                    </div>
                </swiper-slide>
                <swiper-slide>
                    <div class=" slide_book d_flex b_radius  ml-3 mb-3 ">
                        <div class="book_cover">
                            <img src="../img/cover8.webp" style="width: 279px;
                            height: 350px;" alt="">
                        </div>
                        <div class="books_content">
                            <a href="#">
                                <span class="mb-1 b_radius">Category</span>
                            </a>
                            <h4>book title</h4>
                            <small>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis, facere!</small>
                            <hr>
                            <div class="d_flex space_between">
                                <a href="" class="btn btn-sm btn-success">add to library</a>
                                <a href="" class="btn btn-sm btn-outline-info ">Read</a>
                            </div>
                        </div>
                    </div>
                </swiper-slide>
                <swiper-slide>
                    <div class=" slide_book d_flex b_radius  ml-3 mb-3 ">
                        <div class="book_cover">
                            <img src="../img/cover1.webp" style="width: 279px;
                            height: 350px;" alt="">
                        </div>
                        <div class="books_content">
                            <a href="#">
                                <span class="mb-1 b_radius">Category</span>
                            </a>
                            <h4>book title</h4>
                            <small>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis, facere!</small>
                            <hr>
                            <div class="d_flex space_between">
                                <a href="" class="btn btn-sm btn-success">add to library</a>
                                <a href="" class="btn btn-sm btn-outline-info ">Read</a>
                            </div>
                        </div>
                    </div>
                </swiper-slide>
                <swiper-slide>
                    <div class=" slide_book d_flex b_radius  ml-3 mb-3 ">
                        <div class="book_cover b_radius">
                            <img src="../img/cover2.webp" style="width: 279px;
                            height: 350px;" alt="">
                        </div>
                        <div class="books_content">
                            <a href="#">
                                <span class="mb-1 b_radius">Category</span>
                            </a>
                            <h4>book title</h4>
                            <small>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis, facere!</small>
                            <hr>
                            <div class="d_flex space_between">
                                <a href="" class="btn btn-sm btn-success">add to library</a>
                                <a href="" class="btn btn-sm btn-outline-info ">Read</a>
                            </div>
                        </div>
                    </div>
                </swiper-slide>
                <swiper-slide>
                    <div class=" slide_book d_flex b_radius  ml-3 mb-3 ">
                        <div class="book_cover">
                            <img src="../img/cover3.webp" style="width: 279px;
                            height: 350px;" alt="">
                        </div>
                        <div class="books_content">
                            <a href="#">
                                <span class="mb-1 b_radius">Category</span>
                            </a>
                            <h4>book title</h4>
                            <small>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis, facere!</small>
                            <hr>
                            <div class="d_flex space_between">
                                <a href="" class="btn btn-sm btn-success">add to library</a>
                                <a href="" class="btn btn-sm btn-outline-info ">Read</a>
                            </div>
                        </div>
                    </div>
                </swiper-slide>
                <swiper-slide>
                    <div class=" slide_book d_flex b_radius  ml-3 mb-3 ">
                        <div class="book_cover">
                            <img src="../img/cover4.webp" style="width: 279px;
                            height: 350px;" alt="">
                        </div>
                        <div class="books_content">
                            <a href="#">
                                <span class="mb-1 b_radius">Category</span>
                            </a>
                            <h4>book title</h4>
                            <small>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis, facere!</small>
                            <hr>
                            <div class="d_flex space_between">
                                <a href="" class="btn btn-sm btn-success">add to library</a>
                                <a href="" class="btn btn-sm btn-outline-info ">Read</a>
                            </div>
                        </div>
                    </div>
                </swiper-slide>
                <swiper-slide>
                    <div class=" slide_book d_flex b_radius  ml-3 mb-3 ">
                        <div class="book_cover">
                            <img src="../img/cover5.webp" style="width: 279px;
                            height: 350px;" alt="">
                        </div>
                        <div class="books_content">
                            <a href="#">
                                <span class="mb-1 b_radius">Category</span>
                            </a>
                            <h4>book title</h4>
                            <small>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis, facere!</small>
                            <hr>
                            <div class="d_flex space_between">
                                <a href="" class="btn btn-sm btn-success">add to library</a>
                                <a href="" class="btn btn-sm btn-outline-info ">Read</a>
                            </div>
                        </div>
                    </div>
                </swiper-slide>
                <swiper-slide>
                    <div class=" slide_book d_flex b_radius  ml-3 mb-3 ">
                        <div class="book_cover">
                            <img src="../img/cover6.webp" style="width: 279px;
                            height: 350px;" alt="">
                        </div>
                        <div class="books_content">
                            <a href="#">
                                <span class="mb-1 b_radius">Category</span>
                            </a>
                            <h4>book title</h4>
                            <small>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis, facere!</small>
                            <hr>
                            <div class="d_flex space_between">
                                <a href="" class="btn btn-sm btn-success">add to library</a>
                                <a href="" class="btn btn-sm btn-outline-info ">Read</a>
                            </div>
                        </div>
                    </div>
                </swiper-slide>
                <swiper-slide>
                    <div class=" slide_book d_flex b_radius  ml-3 mb-3 ">
                        <div class="book_cover">
                            <img src="../img/cover8.webp" style="width: 279px;
                            height: 350px;" alt="">
                        </div>
                        <div class="books_content">
                            <a href="#">
                                <span class="mb-1 b_radius">Category</span>
                            </a>
                            <h4>book title</h4>
                            <small>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis, facere!</small>
                            <hr>
                            <div class="d_flex space_between">
                                <a href="" class="btn btn-sm btn-success">add to library</a>
                                <a href="" class="btn btn-sm btn-outline-info ">Read</a>
                            </div>
                        </div>
                    </div>
                </swiper-slide>
                <swiper-slide>
                    <div class=" slide_book d_flex b_radius  ml-3 mb-3 ">
                        <div class="book_cover">
                            <img src="../img/cover7.webp" style="width: 279px;
                            height: 350px;" alt="">
                        </div>
                        <div class="books_content">
                            <a href="#">
                                <span class="mb-1 b_radius">Category</span>
                            </a>
                            <h4>book title</h4>
                            <small>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis, facere!</small>
                            <hr>
                            <div class="d_flex space_between">
                                <a href="" class="btn btn-sm btn-success">add to library</a>
                                <a href="" class="btn btn-sm btn-outline-info ">Read</a>
                            </div>
                        </div>
                    </div>
                </swiper-slide>

            </swiper-container>

            <script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-element-bundle.min.js"></script>

        </div>
    </section4>
    <div class="mb-5"></div>



</body>

</html>
{% endblock %}