{% extends 'base.html'%} {% block content %} {% load static %}
<!DOCTYPE html>
<html lang="en">

<head>

</head>

<body class="body">

    <hr>

    <section2>
        <div class="contan d_flex">
            <div class="most_liked">
                <img src="{% static 'img/persion.jpg' %}" alt="" width="398">
            </div>
            <div class="summary">
                <div class="title">
                    <h1>Most liked Books of this months</h1>
                </div>
                <div class="dis">
                    <p>Lorem ipsum dolor sit Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga sunt quia assumenda quis impedit! Odio, quis accusamus enim iusto itaque velit. Earum odit ratione quia, alias sapiente rerum amet sunt? amet consectetur
                        adipisicing elit. Repellat porro vitae praesentium. Nisi id dignissimos aut incidunt fugiat quis illo voluptatem, aliquam saepe rem assumenda.</p>
                    <div class="buttons ">
                        <a class="btn btn-lg btn_radius" href="" style="background-color: orange; color: white;">Read</a>
                        <a class="btn btn-lg btn-outline-info btn_radius" href="">Add to library</a>
                    </div>
                </div>

            </div>

        </div>
    </section2>

    <section3>
        <div class="category_list">
            <ul class="d_flex ">
                {% for cat in category %}
                <a href="{% url 'category_detail' cat.pk %}" class="catbg">
                    <li>
                        <!-- <i class="bi bi-emoji-smile"></i> -->
                        <h5>100+</h5>
                        <h>{{cat}}</h4>
                    </li>
                </a>
                {% endfor %}

               
            </ul>
        </div>
    </section3>

    <section4>
        <div class="famous_books mt-5 mb-5 w-80">
            <div class="tex_center famous_book_title">
                <h2>Most Popular Books</h2>
                <h6 class="b_radius">Choose from hundreds of books from famous writers</h6>
            </div>
            <div class="d_flex">
                {% for story in storys %}
                <div class="book b_radius ml-3 mb-3">
                    <div class="book_cover">
                        <img src="{{story.story_cover_photo.url}}"  alt="">
                        <div class="book_sum">
                            <h6>{{story.story_summary}}</h6>
                        </div>
                    </div>
                    <div class="book_content">
                        <div class="d_flex space_between">
                            <h4>{{story.story_title}}</h4>
                           
                        </div>
                        <a href="{%url 'category_detail' story.category.pk %}">
                            <span class="mb-1 b_radius">{{story.category}}</span>
                        </a>
                        <h5><small>Author:</small>&nbsp; {{story.author_name}}</h5>
                        <hr>
                        <div class="d_flex space_between">
                            <a href="" class="btn btn-sm btn-success">add to library</a>
                            <a href="" class="btn btn-sm btn-outline-info "><i class="bi bi-bookmark"></i></a>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </section4>

    <section>
        <div class="be_writer b_radius">
            <h5>Become a writer</h5>
            <div class="d_flex">
                <div>
                    <span>We are excited to announce that if any of our members' posts on OurStory platform reaches 5000 likes, we will award them with 1000 rupees as a token of appreciation. Additionally, for every 2000 likes after that, we will award them with 600 rupees. We believe that this will motivate our members to share their creative works and help us build a community of passionate writers and readers. So, start sharing your stories and poems on OurStory and get a chance to win exciting rewards!</span>
                </div>
                <div>
                    {% if user.is_athonticated %}
                    <a href="{% url 'account' %}" class="btn btn-outline-warning">Start Writing today</a> {% else %}
    
                    <a href="{%url 'registerUser' %}" class="btn btn-outline-warning">Start Writing today</a> {% endif %}
                </div>
            </div>
        </div>
    </section>


    <section4>
        <div class="famous_books w-80">
            <swiper-container class="mySwiper" pagination="true" pagination-clickable="true" navigation="true" space-between="30" centered-slides="true" autoplay-delay="2500" autoplay-disable-on-interaction="false">
                {% for poem in poems%}

                <swiper-slide>
                    <div class=" slide_book d_flex b_radius  ml-3 mb-3 m-5 ">
                        <div class="book_cover">
                            <img src="{{poem.cover_image.url}}"  alt="">
                        </div>
                        <div class="books_content">
                            <a href="#">
                                <span class="mb-1 b_radius">{{poem.category}}</span>
                            </a>
                            <h4>{{poem}}</h4>
                            <small>{{poem.post_overview}}</small>
                            <hr>
                            <div class="d_flex space_between">
                                <a href="" class="btn btn-sm btn-success">add to library</a>
                                <a href="{%url 'poem_details' poem.poem_slug %}" class="btn btn-sm btn-outline-info ">Read</a>
                            </div>
                        </div>
                    </div>
                </swiper-slide>
                {% endfor %}


            </swiper-container>

            <script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-element-bundle.min.js"></script>

        </div>
    </section4>
    <div class="mb-5"></div>

</body>
<script>
    window.addEventListener('load', function() {
        applyRandomColor();
      });
      
</script>

</html>
{% endblock %}